.conPage{
    background: linear-gradient(to bottom, white, black);
}
.contact{
    display: flex;
    text-align: center;
}
.contact>div{
    width: 75%;
    height: 100vh;
    text-align: center;
}
.contact>div>div>form{
    width:100%;
    height: fit-content;
    border: 5px solid blue;
}