.education{
    background: #2c2c2c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-weight: bold;
}
.education>div{
    display: flex;
    /*grid-template-columns: repeat(3,1fr);*/
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
}
.education>div>div{
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    font-weight: bold;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    background: rgba(18, 19, 20, 0.5);
    color: white;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: auto;
}
@media all and (max-width:600px) {
    .education>div{
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        font-size: 8px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
}

