section>div.homePage{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}
section>div.homePage>img{
    right: 0;
    position: absolute;
}

section >header> nav {
    background: black;
    right: 50vw;
    text-align: right;
    padding: 10px 20px;
    height: 40px;
}
section>header>nav>a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
section>header>nav>img{
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
}
body>section:first-child(1){
    background: darkred;
}
section.homePage>p{
    color: blue;
    background: white;
    font-weight: bold;
    left: 300px;
    right: 300px;
    top: 20px;
    bottom: 0;
    margin: auto;
}
section>p>h1{
    color: black;
    font-weight: bold;
}
body>section.homePage>div>img{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

