.homePage{
    font-family: "Fira Code", monospace;
    height: 95vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db, #f5f7fa 74%);
}
.middleLine{
    width: 35vw;
    height: 2px;
    background-color: blue;
    border: none;
    margin: 20px auto;
    animation: lines 3s ease-out forwards;
}
.firstLine{
    font-weight: bold;
    font-size: 15px;
    color: blue;
}
.secondLine{
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, .15) 1.95px 1.95px 2.6px;
    color: black;
}
.thirdLine{
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, .15) 1.95px 1.95px 2.6px;
    color: black;
}
.forthLine{
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, .15) 1.95px 1.95px 2.6px;
    color: black;
}
.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 5%;
    top: 400px;
    animation-name:icons;
    animation-duration: 3s;
    transition-timing-function: ease;

}
.icons{
    display: block;
}
/*.homePage>div.verticalBar{*/
/*    border-left:3px solid blue;*/
/*    left: 5%;*/
/*    height: 25vh;*/
/*    width: 2px;*/
/*    background: blue;*/
/*    position: absolute;*/
/*    animation-name:lines;*/
/*    animation-duration: 3s;*/
/*    transition-timing-function: ease;*/
/*}*/
@media all and (max-width: 600px) {
    .homePage{
        flex-direction:column-reverse;
        border: 5px solid #1E90FF;
    }
    .leftSide{
        display: flex;
        transform: translateX(-50%);
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 5%;
        bottom: 150px;
    }
    .nameTag{
        width: fit-content;
        font-size: 5px;
    }
}
@keyframes icons{
    from {
        top: 0;
    }
    to {
        bottom: 150px;
    }
}
@keyframes lines  {
    0% {
        width: 0px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 35vw;
    }
}
