.profile{
    width: 100%;
    background:  #2c2c2c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile>h1{
    color:#d6eaff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display', 'serif';
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px 0;
    position: sticky;
    top: 0;
}
.profile h2 {
    color:#008CFF;
    font-weight: bold;
    left: 30px;
    right: 30px;
    text-decoration-color: black;
    display: inline-block;
}
h1{
    text-align: center;
    color: blue;

}
.profile>h1{
    font-family: 'Playfair Display', 'serif';
}
.profileSec{
    display: flex;
    /*grid-template-columns: repeat(3,1fr);*/
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;

}
.profileSec>div.skillOne{
    width: 300px;
    height: 60vh;
    text-align: center;
    border: 2px solid #008CFF;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    background: rgba(18, 19, 20, 0.5);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}
.profileSec>div.skillTwo{
    width: 300px;
    height: 70vh;
    text-align: center;
    border: 2px solid #008CFF;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    background: rgba(18, 19, 20, 0.5);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}
.profileSec>div.skillThree{
    width: 300px;
    height: 60vh;
    text-align: center;
    border: 2px solid #008CFF;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    background: rgba(18, 19, 20, 0.5);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}
h2{
    color: black;
}
.profileSec>div>p{
    color: white;
    font-weight: bold;
}
.profile>div>div:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 140, 255, 0.3),
    0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
@media all and (max-width: 600px) {
    .profileSec{
        flex-direction: column;
        gap: 20px;
    }
    .profileSec>div{
        width: fit-content;
        height: fit-content;
    }
}
@media all and (max-width: 1100px){
    .profileSec{
        justify-content: space-between;
    }
    .profileSec>div.skillThree{
        width:270px;
        height:fit-content;
    }
    .profileSec>div.skillTwo{
        width:270px ;
        height:fit-content ;
    }
    .profileSec>div.skillOne{
        width:270px;
        height:fit-content;
    }

}
@media all and (max-width: 950px){
    .profileSec{
        justify-content: space-between;
    }
    .profileSec>div.skillThree{
        width:200px;
        height:fit-content;
    }
    .profileSec>div.skillTwo{
        width:200px ;
        height:fit-content ;
    }
    .profileSec>div.skillOne{
        width:200px;
        height:fit-content;
    }

}