.pro {
    background:  #2c2c2c;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section > h1 {
    color: blue;
    text-align: center;
}
h2 {
    color:#008CFF;
}

.project {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}


.project1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 90%;
    max-width: 1200px;
}
.project2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    color: white;
    width: 90%;
    max-width: 1200px;
}

.project1 > div, .project2 > div {
    height: fit-content;
    width: fit-content;
    text-align: center;
}

.backgroud {
    border-radius: 8px;
    background: rgba(18, 19, 20, 0.5);
    color: white;
    text-align: center;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
        height: auto;
    }
    .project1, .project2 {
        flex-direction: column;
        text-align: center;
    }
}
