.tech{
    width: 100%;
    background:  #2c2c2c;
}
.tech>div{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin: auto;

}
.tech>div>div{
    width: 200px;
    height: 200px;
    justify-items: center;
    position: relative;
}
.tech>div>div>img{
    width: 120px;;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
}
.tech>div>div:nth-child(even){
    align-self: flex-end;
}
.tech>div>div:nth-child(odd){
    align-self: start;
}
.tech>h2{
    text-align: center;
    color: blue;
    font-weight: bold;
}
.tech>div>div>img{
    border: 5px solid blue;
}
@media all and (max-width: 600px) {
    .tech>div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        justify-content: center;
        padding: 5px;
    }

    .tech >div> div {
        width: 100%;
    }
    .tech>div>div>img{
        border: 5px solid blue;
        width: 80px;
        aspect-ratio:1/1;
    }
}